In [17]:
#第一题
import pandas as pd
import numpy as np 
df = pd.read_csv('data/Diamonds.csv')
df.head()

   carat color  depth  price
0   0.23     E   61.5    326
1   0.21     E   59.8    326
2   0.23     E   56.9    327
3   0.29     I   62.4    334
4   0.31     J   63.3    335

In [13]:
df.head()

172    2774
215    2781
241    2788
242    2788
247    2789
Name: price, dtype: int64

In [22]:
df_r = df.query('carat>1')['price']
df_r.max()-df_r.min()

17561

In [18]:
df.head()

   carat color  depth  price
0   0.23     E   61.5    326
1   0.21     E   59.8    326
2   0.23     E   56.9    327
3   0.29     I   62.4    334
4   0.31     J   63.3    335

In [20]:
bins = df['depth'].quantile(np.linspace(0,1,6)).tolist()
cuts = pd.cut(df['depth'],bins = bins)
df['cut']=cuts
df.head()

   carat color  depth  price           cut
0   0.23     E   61.5    326  (60.8, 61.6]
1   0.21     E   59.8    326  (43.0, 60.8]
2   0.23     E   56.9    327  (43.0, 60.8]
3   0.29     I   62.4    334  (62.1, 62.7]
4   0.31     J   63.3    335  (62.7, 79.0]

In [22]:
color = df.groupby('cut')['color'].max()
color

cut
(43.0, 60.8]    J
(60.8, 61.6]    J
(61.6, 62.1]    J
(62.1, 62.7]    J
(62.7, 79.0]    J
Name: color, dtype: object

In [25]:
df['均重价格']=df['price']/df['carat']
color_result['top'] == [i[1] for i in df.groupby(['cuts'
                                ,'color'])['均重价格'].mean().groupby(['cuts']).idxmax().values]

cuts
(43.0, 60.8]    False
(60.8, 61.6]    False
(61.6, 62.1]    False
(62.1, 62.7]     True
(62.7, 79.0]     True
Name: top, dtype: bool

In [27]:
df = df.drop(columns ='均重价格')
cuts = pd(df['carat'],bins=[0,0.5,1,1.5,2,np.inf])
df['cut']= cuts
df.head()

TypeError: 'module' object is not callable

In [29]:
def f(nums):
    if not nums:        
        return 0
    res = 1                            
    cur_len = 1                        
    for i in range(1, len(nums)):      
        if nums[i-1] < nums[i]:        
            cur_len += 1                
            res = max(cur_len, res)     
        else:                       
            cur_len = 1                 
    return res

In [31]:
for name,group in df.groupby('cut'):
    group = group.sort_values(by='depth')
    s = group['price']
    print(name,f(s.tolist()))

(43.0, 60.8] 8
(60.8, 61.6] 16
(61.6, 62.1] 23
(62.1, 62.7] 10
(62.7, 79.0] 7

In [27]:
##第二题

In [5]:
import pandas as pd
df = pd.read_csv('data/Drugs.csv').head()

In [31]:
idx=pd.IndexSlice
for i in range(2010,2018):
    county = (df.groupby(['COUNTY','YYYY']).sum().loc[idx[:,i],:].idxmax()[0][0])
    state = df.query('COUNTY == "%s"'%county)['State'].iloc[0]
    state_true = df.groupby(['State','YYYY']).sum().loc[idx[:,i],:].idxmax()[0][0]
    if state==state_true:
        print('在%d年，%s县的报告数最多，它所属的州%s也是报告数最多的'%(i,county,state))
    else:
        print('在%d年，%s县的报告数最多，但它所属的州%s不是报告数最多的，%s州报告数最多'%(i,county,state,state_true))

在2010年，PHILADELPHIA县的报告数最多，它所属的州PA也是报告数最多的
在2011年，PHILADELPHIA县的报告数最多，但它所属的州PA不是报告数最多的，OH州报告数最多
在2012年，PHILADELPHIA县的报告数最多，但它所属的州PA不是报告数最多的，OH州报告数最多
在2013年，PHILADELPHIA县的报告数最多，但它所属的州PA不是报告数最多的，OH州报告数最多
在2014年，PHILADELPHIA县的报告数最多，但它所属的州PA不是报告数最多的，OH州报告数最多
在2015年，PHILADELPHIA县的报告数最多，但它所属的州PA不是报告数最多的，OH州报告数最多
在2016年，HAMILTON县的报告数最多，它所属的州OH也是报告数最多的
在2017年，HAMILTON县的报告数最多，它所属的州OH也是报告数最多的

In [32]:
df_b = df[(df['YYYY'].isin([2014,2015]))&(df['SubstanceName']=='Heroin')]
df_add = df_b.groupby(['YYYY','State']).sum()
(df_add.loc[2015]-df_add.loc[2014]).idxmax()

DrugReports    OH
dtype: object

In [33]:
df_b = df[(df['YYYY'].isin([2014,2015]))&(df['State']=='OH')]
df_add = df_b.groupby(['YYYY','SubstanceName']).sum()
display((df_add.loc[2015]-df_add.loc[2014]).idxmax()) #这里利用了索引对齐的特点
display((df_add.loc[2015]/df_add.loc[2014]).idxmax())

DrugReports    Heroin
dtype: object

DrugReports    Acetyl fentanyl
dtype: object